{% extends 'base.html' %}

{# --- TITLE --- #}
{% block title %}Natali Rozin: Contact{% endblock title %}

{# --- HEADER --- #}
{% block header %}
  <h2>Get in touch</h2>
{% endblock header %}

{# --- CONTENT --- #}
{% block content %}
  <div class="contact-grid">
    <img src="{{ url_for('static', filename='icons/email.png') }}" class="icon"/>
    <a href="mailto:nrozin1@jhu.com">
      <span>nrozin1@jh.edu</span>
    </a>

    <img src="{{ url_for('static', filename='icons/linkedin.png') }}" class="icon"/>
    <a href="https://www.linkedin.com/in/natali-rozin" target="_blank" rel="noopener">
      <span>linkedin.com/in/natali-rozin</span>
    </a>
  </div>
{% endblock content %}