{% extends 'base.html' %}

{% block title %}Natali Rozin: Homepage{% endblock title %}

{% block content %}
<div class="image-text-container">
  <div class="text-content">
    <h2>Natali Rozin</h2>
    <p class="profession">Aerospace Engineer</p>
    <p>
      Natali is a graduate student currently pursing her M.Sc. degree in AI.
      She holds a Bachelor's degree in Aerospace Engineering and she has professional experience as an aerodynamicist. She is vegan and loves graphic design in her free time.
    </p>
  </div>
  <img src="{{ url_for('static', filename='img/IMG_9845.jpg') }}" class="profile-pic" />
</div>
{% endblock content %}